Package: cRelayMqttWrapperService
Version: 0.8
Depends: crelay, lua, lua-eco, lua-eco-mqtt, dkjson
Section: utils
Priority: optional
Architecture: all
Maintainer: browsem 
Description: Just enough of a wrapper for the crelay package to do what i need
